name: Deploy ADF to PROD

on:
  push:
    branches:
      - main

jobs:
  deploy-adf:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Azure Login
      uses: azure/login@v1
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}

    - name: Deploy ARM Template to PROD ADF
      uses: azure/arm-deploy@v1
      with:
        resourceGroupName: rg-adf-dev-prod
        template: ./ARMTemplateForFactory.json
        parameters: ./ARMTemplateParametersForFactory.json
        deploymentMode: Incremental
