name: Deploy ADF ARM to PROD

on:
  push:
    branches:
      - main

jobs:
  deploy-adf:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Azure Login
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}

    - name: Deploy ARM template to PROD ADF
      uses: azure/arm-deploy@v2
      with:
        scope: resourcegroup
        resourceGroupName: rg-adf-dev-prod
        region: southindia
        template: adf-dev-pipelines/ARMTemplateForFactory.json
        parameters: >
          adf-dev-pipelines/ARMTemplateParametersForFactory.json
          factoryName=adf-prod-pipelines
          LS_DEV_Blob_connectionString=${{ secrets.LS_DEV_BLOB_CONN }}
          LS_PROD_Blob_connectionString=${{ secrets.LS_PROD_BLOB_CONN }}
        deploymentMode: Incremental
